
body{
  background:#ffffff ;
  color: #1b0088;}
#a1{
  width: 100%;
  height:400px;
  text-align: center;
}
#pas{
  width: 100%;
}

.navbar.navbar-expand-lg{
  color: #ffffff;
  background-color: #1b0088;
}
.nav-link{
  color: #ffffff;
}
.navbar-brand{
  color: #ffffff;
  background-color: #1b0088;
}
.navbar-toggler{
  color: #ffffff;
  background-color: #1b0088;
}
.navbar-toggler-icon{
  color: #ffffff;
  background-color: #1b0088;
}
.card{
  color: #ffffff;
  background-color: #1b0088;
}
#lim{
  display:inline;
}

.text-uppercase {
  color: #ffffff;
  background-color: #1b0088;
}
.text-white{
  color: #ffffff;
}
#fu{
  color: #ffffff;
  background-color: #1b0088;
}
footer{
  background:#ffffff ;
color: #1b0088;}